<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Remindr</title>
  <link rel="stylesheet" href="scss/users.scss">
</head>
<body>
  <h1 class="heading">THIS IS THE LANDING PAGE</h1>
  <h2 class="subheading">this is the subheading but not really</h2>
  <%= link_to "Feed", newsfeed_path %><br>

  <%= link_to "Sign Up", new_user_path %><br>
  <%= link_to "Log In", new_session_path %><br>
</body>
</html>
