<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Remindr</title>

</head>
<body>
  <h1>user index page</h1>
  <%= link_to "Feed", newsfeed_path %><br>
=======
<h1>THIS IS THE LANDING PAGE</h1>
<%= link_to "Feed", newsfeed_path %><br>
>>>>>>> 85dee5bdecf3ba15c5a4963b1f3d11896a4386f6

<%= link_to "Sign Up", new_user_path %><br>
<%= link_to "Log In", new_session_path %><br>
