<h1>THIS IS A FEED PAGE</h1>
<!-- all the messages go here for all the contacts -->
<%= link_to "All Contacts Page", contacts_url %><br>
<%= link_to "User Profile", '/users/1' %><br>
<%= link_to "Contact Profile", '/contacts/1' %><br>
<%= link_to "Add a Contact", new_contact_url %><br>
