<h1 class="nav">Remindr</h1>
<div class="container">

  <div class="contacts-messages">
  </div>

  <div class="messages">
  </div>

  <div class="profile-name">
  </div>

  <div class="profiles">
  </div>
</div>
