<h1 class='remindertitle'> Import Contacts </h1><br>
<!-- <h3 style="text-align:center;margin-top:10px;"> Please select all contacts you would like to keep in touch with </h3><br> -->
<p style="text-align: center;">Contacts selected: <span class='number_of_selected_contacts'>0</span><p>
<a href="/" id="import_contact_button">Submit</a>

<div style='text-align: center;'>
  <%= form_tag '/import_contacts',id:"search_imported_contacts" do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search for contact", class: 'import-search-bar'%>
  <% end %>
</div>

<div class="potential-contacts-container">

  <%# @potential_contacts.each do |contact| %>
    <!-- <div class="potential-contacts"> -->


      <!-- <div class="contact-image-div" %> -->
        <%# image_tag(contact['pic'],{class:"contact-image", alt:"not found"}) %>
      <!-- </div> -->
      <%# if contact['name'] != "" %>
        <!-- <h2 class="potential-contact-name"><%#= contact['name']%></h2> -->
      <%# else %>
        <!-- <h2 class='potential-contact-name'><%#= contact['email'].split('@')[0] %></h2> -->
      <%# end %>
      <!-- <h4 class="potential-contact-email"><%#= contact['email']%></h4> -->
      <%#= hidden_field_tag "phone_number", contact['phone'], {class:"potential-contact-phone-number"} %>
    <!-- </div> -->
<%# end %>

</div>
