<div class="social-link-page">
  <div class='reminder-background'></div>
  <div style='text-align: center; font-size: 3em; color:white'>Last thing and you're all set!</div>
  <div class="sign-in-link">
    <div class="google-login"><div class="logo-image"><%= image_tag "gmail-logo.svg", class:"gmail-logo" %></div><%= link_to 'Import Contacts From Google', import_contacts_path, class: 'sm-link'%></div>
  </div>
</div>
