<%# @contacts.each do |contact| %>
  <%# contact.get_dms(current_user.twitter_client, current_user) %>
<%# end %>

 <h1>this is the page that loads after method is called that I need to test for rake </h1>
