<div class="nav-bar">
<h1 class="nav">Remindr</h1>
<%= link_to "Feed", newsfeed_path, class: 'nav-bar-link' %>
<%= link_to "Contact's Messages", contact_messages_path(1), class: 'nav-bar-link' %>
</div>
<div class="container">

  <div class="contacts-messages">
      <% @contacts.each do |contact| %>
      <div class="contact-message">
        <div class="contact-profile-image">
        </div>
        <div class="contact-last-message">
        <%= link_to contact.name, contact_path(contact.id), class: 'contact-name-link' %>
        <p class="last-message-on">Last message on</p>
        </div>
      </div>
      <% end %>
  </div>

  <div class="messages">
  </div>

  <div class="profile-name">
  </div>

  <div class="profiles">
  </div>
</div>
