
<div class="all-contacts-container">


  <div class="individual-contact-edit-area">
  </div>

  <div class="all-contacts-list-area">
    <div class="all-contacts-list-area-top-div">
      <h4 class="all-contacts-title">All Contacts</h4>
    </div>
    <div class="contact-types-wrapper">
      <div class="contact-types-all"><h6 class="contact-type-title">All</h6></div>
      <div class="contact-types-friends"><h6 class="contact-type-title">Friends</h6></div>
      <div class="contact-types-family"><h6 class="contact-type-title">Family</h6></div>
      <div class="contact-types-business"><h6 class="contact-type-title">Business</h6></div>
    </div>
    <div class="contacts-area">
    <% @contacts.each do |contact| %>
    <div class="contact-page-contact">
      <div class="contact-page-contact-image"></div>
      <div class="contact-page-contact-information">
        <%= contact.name %><br>
        <%= contact.phone %><br>
        <%= contact.email %> | @twitterhandle 

      </div>
    </div>
    <% end %>

    </div>
</div>

</div>
