// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// * {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
//   font-family: 'Helvetica-Neue', sans-serif;
// }

.main-container {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: fixed;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  background-image: url('background-light-medium-blue.svg');
}

//add contact modal
  // dark overlay ontop
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30,0.7);
    z-index: 2;
}

  // add contact form
.add-contact{
    display: block;
    width: 450px;
    height: 570px;
    padding: 30px;
    background-color: rgba(256, 256, 256, 0.87);
    position: absolute;
    margin: auto;
    margin-top: 50px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 1%;
}

// add-contact text
.add-new-contact-heading {
  color: gray;
  margin: auto 30px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
}
// add contact form fields
.field {
    display: inline-block;
    border: none;
    outline: none;
    padding: 7px;
    width: 81.7%;
    color: #555 ;
    font-size: 12px;
    margin: 20px 0;
    margin-left: 8px;
}
.field, #password {
  display: inline-block;
  border: none;
  outline: none;
  padding: 7px;
  width: 73%;
  color: #555 ;
  font-size: 12px;
  margin: 20px 0;
  margin-left: 8px;
}


.phoneField {
    display: inline-block;
    border: none;
    outline: none;
    padding: 8px;
    width: 15%;
    margin: 20px 3px;
    margin-left: 5.5px;
    color: #555 ;
}

.phoneField2 {
    display: inline-block;
    border: none;
    outline: none;
    padding: 8px;
    width: 15%;
    margin: 20px 0;
    color: #555 ;
}

.phoneField3 {
    display: inline-block;
    border: none;
    outline: none;
    padding: 8px;
    width: 44%;
    margin: 20px 0;
    color: #555 ;
}

.eField {
    display: inline-block;
    border: none;
    outline: none;
    padding: 8px;
    width: 81%;
    margin: 20px 0;
    margin-left: 12px;
    color: #555 ;
}

.catField {
  display: inline-block;
  border: none;
  outline: none;
  padding: 8px;
  width: 75%;
  margin: 20px 0;
  margin-left: 12px;
  color: #555 ;
}

.twitField {
  display: inline-block;
  border: none;
  outline: none;
  padding: 8px;
  width: 74%;
  margin: 20px 0;
  margin-left: 12px;
  color: #555 ;
}

.twitField2 {
  display: inline-block;
  border: none;
  outline: none;
  padding: 8px;
  width: 60%;
  margin: 20px 0;
  margin-left: 12px;
  color: #555 ;
}
// close button of modal
.close {
    background-color: #e8e8e8;
    display: block;
    border: none;
    outline: none;
    font-size: 36px;
    font-weight: lighter;
    width: 1em;
    height: 1em;
    color: gray;
    line-height: 0;
    position: absolute;
    top: 0.25em;
    right: 0.25em;
}

// create contact button modal
.submit {
  font-size: 14px;
  display: block;
  border: none;
  outline: none;
  width: 55%;
  margin-left: 25%;
  margin-top: 2em;
  padding: 0.5em;
  background-color: gray;
  color: white;
  padding: 16px;
}

// Section 3: List of All Contacts (left 25% of the page)

// search bar
.main-container-heading {
  height: 50px;
  margin-right: 38px;
  background-color: $color6;
}

.contact-name-heading {
  height: 56px;
  width: 100%;
  margin-left: 20px;
  background-color: $color6;
}

.messages-heading {
  height: 50px;
  background-color: $color2;
}

.contact-name-heading {
  font-size: 36px;
  text-align: center;
  color: $color6;
  line-height: 50px;
}
// #main-name {
//   display: inline-block;
//   line-height: 50px;
//   float: left;
//   margin-left: 150px;
//   font-size: 36px;
//   background-color: $color2;
//   color: $color6;
// }

.searchbar-with-icons-div {
  position: relative;
  height: 50px;
  float: left;
  width: 100%;
  // margin-left: 20px;
  display: inline-block;
  // background-color: $color2;
  background-color: $mediumblue;

}

.search-contacts-bar {
  height: 50px;
  display:inline-block;
  width: 55%;
  // background-color: $color2;
  float: left;
}

.search-bar-field {
  margin: 1.3em 0;
  padding: 6px 0px;
  width: 100%;
  text-align: center;
  border:  none;
  border-radius: 2px;
  opacity: 0.96;
}

.filter-icon img{
  height: 28px;
  width: 28px;
  margin: 15px;
  margin-right: 5%;
  margin-left: 16px;
  float:left;
  display:inline-block;
}

.add-icon img{
  width: 28px;
  height: 28px;
  float:left;
  margin: 16px;
  margin-left: 10%;
  display: inline-block;
}

.contacts-container {
  width: 25%;
  height: 800px;
  float: left;
  position: relative;
}

.contacts-messages {
  height: 800px;
  // margin-left: 20px;
  // margin-top: 15px;
  overflow: scroll;
}

.contact-message {
  border-bottom: 5px solid $color6;
  padding: 16px 16px;
  background-color: white;
  overflow: hidden;
}

#load_contact_box {
  width: 100%;
  // position: relative;
  float: left;
}
.contact-name-link {
  // color: rgba(0,0,0,0.87);
  color: $color2;
  text-decoration: none;
}

.contact-last-message {
  float: left;
  overflow: hidden;
  margin-left: 16px;
  margin-top: 10px;
}
.contact-profile-image {
  border-radius: 100%;
  background-color: #ccc;
  width: 56px;
  height: 56px;
  float: left;
}


.last-message-on {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #ccc;
}


// Section 4: All messages received from individual contact (middle 50% of page)

.contact-info-updating-container {
  width: 75%;
  height: 800px;
  float: left;
  overflow: hidden;
}

.messages {
  float: left;
  width: 66.666%;
  height: 800px;
  overflow: hidden;
  // background-color: $color6;
  // overflow: scroll;
}


#message-content {
  width: 100%;
  height: 50vh;
  overflow: scroll;
  // position: relative;
  // background-color: $color2;
  // border: 1px solid $color2;
  // border-radius: 15px;
  // margin: 20px;
  // padding: 16px;
  // color: white;
  // word-wrap: break-word;

}

.individual-message-div {
  width: 95%;
  height: auto;
  padding: 10px;
  word-wrap: break-word;
  background-color: $offwhite;
  color: rgba(0,0,0,0.87);
  border-radius: 6px;
  margin: 16px;
}

.twitter-and-email-container {
  position: fixed;
  right: 25%;
  width: 50%;
  height: 55vh;
  bottom: 0%;
  overflow: hidden;
  // overflow: scroll;
  background-color: $color6;
  padding: 20px 20px;
}

//
// .twitter-messaging-div {
//   // position: absolute;
//   // margin: 0 20px;
//   // top: -40px;
//   // background-color: $offwhite;
// }

.send-twitter-div {
  overflow: hidden;
}

.send-direct-message {
  float: left;
  display: inline-block;
  width: 47.5%;
  margin-right: 5%;
  background-color: white;
  opacity: 0.7;
  border-radius: 8px;
  padding: 20px;
}
.send-tweet {
  float: left;
  width: 47.5%;
  display: inline-block;
  padding: 20px;
  background-color: white;
  opacity: 0.7;
  border-radius: 8px;
  padding: 20px;
}
.message-label {
  line-height: 32px;
  font-size: 16px;
}
.twitter_field {
  height: 25px;
  width: 175px;
  // margin: -8px 10px -8px 0;
}

.send-email-div {
  width: 93%;
  height: 35vh;
  padding-top: 30px;
  // background-color: red;
  position: absolute;
  bottom: 0%;
  // overflow: scroll;

}

textarea {
  border: 1px solid lightgray;
}

textarea#twitter-text-area {
  width: 100%;
}

textarea#send-text-area{
  width: 100%;
}

label {
  color: $offblack;
  font-size: 17px;
}

#subject_field {
  width: 100%;
  height: 24px;

}

#body_field {
  width: 100%;
  height: 100px;
}

input[type=submit] {
  width: 80px;
  height: 25px;
  margin-top: 6px;
  border: 1px solid hsl(48, 100%, 50%);
  border-radius: 2px;
  background-color: hsl(48, 100%, 50%);
  color: white;
  font-size: 16px;
  font-weight: bold;
}


// Section 5: Right 25% of page

.profiles {
  float: left;
  width: 33.333%;
  height: 800px;
  background-color: white;
  opacity: 0.8;
  // margin-top: 15px;
  // margin-right: 15px;
}

#contact_details {
  padding: 1em;
  height: 175px;
  color: gray;
  display: block;
  margin: auto;
}

#contact_details > h2 {
  text-align: center;
  color: $offblack;
  font-size: 24px;
  margin: 16px 0;
}


.profile-divider {
  width: 90%;
  margin: 0 auto;
  height: 2px;
  background-color: $offblack;
  opacity: 0.2;
}

.reminders-heading {
  font-size: 20px;
  color: $offblack;
  text-align: center;
  margin: 16px;
}

#inner_details {
  margin: 24px;
  margin-top: 36px;
}
#contact_details p {
  margin-top: 10px;
}

label.contact_add_field {
  color: $color2;
}

label.contact_add_info {
  color: $color2;
}
#add_field_form {
  color: black;
  border-bottom: 5px solid white;
}

#update_contact {
  display: block;
  margin-left: 16px;
  text-align: left;
}

#update_contact_button {
  margin: 15px;
  margin-left: 15px;
  width: 90px;
  height: 30px;
  border: none;
  background-color: hsl(48, 100%, 50%);
  color: white;
}






// contacts all page starts here

  // basic layout styling

.all-contacts-container {
  overflow: hidden;
}

.individual-contact-edit-area {
  width: 45%;
  height: 702px;
  background-color: #eee;
  float: left;
  display: inline-block;
  border: 1px solid rgba(0,0,0,0.2);
}

.all-contacts-list-area {
  width: 55%;
  height: 702px;
  background-color: #ccc;
  float: left;
  display: inline-block;
}

.all-contacts-title {
  text-align: center;
  font-size: 16px;
  padding: 0;
}


.all-contacts-list-area-top-div {
  background-color: #eee;
  width: 100%;
  height: 56px;
  padding-top: 24px;
    border-top: 1px solid rgba(0,0,0,0.2);
}
.contact-types-wrapper {
  background-color: #eee;
  width: 100%;
  height: 48px;
  overflow: hidden;
}

.contact-types-all {
  float: left;
  padding: 0 64px;
  line-height: 48px;
}
.contact-types-friends {
  float: left;
  padding: 0 64px;
  line-height: 48px;
}
.contact-types-family {
  float: left;
  padding: 0 64px;
  line-height: 48px;
}
.contact-types-business {
  float: left;
  padding: 0 64px;
  line-height: 48px;
}

.contacts-area {
  background-color: white;
  width: 100%;
  height: 600px;
  border-top: 1px solid rgba(0,0,0,0.2);
  overflow: scroll;
}

// contacts all page ends here


// individual contacts
.contact-page-contact {
  background-color: #eee;
  padding: 16px;
  width: 96%;
  height: 148px;
  border: 1px solid rgba(0,0,0,0.3);
  margin: 0 auto;
  margin-top: 8px;
  overflow: hidden;
}

.contact-page-contact-image {
  float: left;
  width: 100px;
  height: 100px;
  background-color: gray;
  border-radius: 100%;
  margin-left: 24px;
  margin-top: 8px;
}

.contact-page-contact-information {
  float: left;
  font-size: 14px;
  margin-left: 24px;
  margin-top: 8px;
}

.contact-page-contact-information > li {
  list-style: none;
}

// indivudal contact

.individual-photo {
  margin: auto;
  margin-top: 36px;
  width: 144px;
  height: 144px;
  background-color: gray;
  border-radius: 100%;

}
.individual-contact-wrapper {
  height: 500px;
  width: 100%;
  padding: 48px;
}


.edit-contact-field {
  padding: 4px;
  width: 200px;
  margin: 20px 0;

}

.edit-contact-label {
  margin: 20px 8px;
}

#contact_add_field {
    text-align: center;
}

#contact_add_info {
  text-align: center;
}


.reminderbox_newsfeed {
  display: block;
  width: 92%;
  margin: 8px;
  height: auto;
  font-size: 14px;
  border: 1px solid rgba(0,0,0,0.4);
  padding: 8px;
  text-align: center;
  list-style: none;
  border-radius: 6px;
}

#newsfeed_reminders {
  margin-top: 13vh;
}

#contact_clicked {
  background-color: rgba(256,256,256, 0.8);
}
