// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.nav {
  color: green;
  margin: 0;
  display: inline-block;
  line-height: 56px;
  padding-left: 16px;
  top: 0;
  left: 0;
}

.nav-bar {
  width: 100%;
  background-color: #fbfbfb;
  height: 56px;
}

.nav-bar-link {
  float: right;
  text-decoration: none;
  color: green;
  margin-right: 16px;
  line-height: 56px;
}

.container {
  overflow: hidden;
}

.search-contacts-bar {
  height: 56px;
  background-color: #fbfbfb;
  border-top: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.search-bar-field {
  margin: 12px 36px;
  padding: 6px 56px;
}
.all-contacts-header {
  height: 56px;
  background-color: #fbfbfb;
  border-top: 1px solid rgba(0,0,0,0.2);
  overflow: hidden;
}

.all-contacts-heading {
  float:left;
  margin: 5% 5%;
  color: rgba(0,0,0,0.77);
}

.filter-icon {
  height: 24px;
  width: 24px;
  float:left;
  margin: 5% 10%;
}

.add-icon {
  height: 24px;
  width: 24px;
  float:left;
  margin: 5% 10%;
}
.contacts-container {
  width: 25%;
  float: left;
}
.contacts-messages {
  height:600px;
  overflow: scroll;
}

.contact-message {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 16px 16px;
  background-color: #fbfbfb;
  overflow: hidden;
}

.contact-name-link {
  color: rgba(0,0,0,0.87);
  text-decoration: none;
}

.contact-last-message {
  float: left;
  overflow: hidden;
  margin-left: 16px;
  margin-top: 10px;
}
.contact-profile-image {
  border-radius: 100%;
  background-color: #ccc;
  width: 56px;
  height: 56px;
  float: left;
}


.last-message-on {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: gray;
}
.messages {
  float: left;
  width: 50%;
  height: 702px;
  background-color: #bcbcbc;
}

.profiles {
  float: left;
  width: 25%;
  height: 702px;
  background-color: yellow;
}
