// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.main-container {
  overflow: hidden;
  width: 100%;
}

//add contact modal
  // dark overlay ontop
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30,0.7);
}

  // add contact form
.add-contact{
    display: block;
    width: 400px;
    height: 400px;
    padding: 2.5em;
    background-color: rgba(256, 256, 256, 0.87);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 1%;
}

// add-contact text
.add-new-contact-heading {
  color: gray;
  margin-left: 25%;
  margin-bottom: 0.8em;
  display: inline-block;
}
// add contact form fields
.field {
    display: inline-block;
    border: none;
    outline: none;
    padding: 0.5em;
    width: 81.7%;
    margin: 1.5em 0;
    margin-left: .5em;
    color: #555 ;
}

.phoneField {
    display: inline-block;
    border: none;
    outline: none;
    padding: 0.5em;
    width: 15%;
    margin: 1.5em 0;
    margin-left: .4em;
    color: #555 ;
}

.phoneField2 {
    display: inline-block;
    border: none;
    outline: none;
    padding: 0.5em;
    width: 15%;
    margin: 1.5em 0;
    // margin-left: .5em;
    color: #555 ;
}

.phoneField3 {
    display: inline-block;
    border: none;
    outline: none;
    padding: 0.5em;
    width: 41.5%;
    margin: 0.8em 0;
    color: #555 ;
}

.eField {
    display: inline-block;
    border: none;
    outline: none;
    padding: 0.5em;
    width: 81%;
    margin: 1.5em 0;
    margin-left: 1em;
    color: #555 ;
}
// close button of modal
.close {
    background-color: #e8e8e8;
    display: block;
    border: none;
    outline: none;
    font-size: 36px;
    font-weight: lighter;
    width: 1em;
    height: 1em;
    color: gray;
    line-height: 0;
    position: absolute;
    top: 0.25em;
    right: 0.25em;
}

// create contact button modal
.submit {
  font-size: 14px;
  display: block;
  border: none;
  outline: none;
  width: 55%;
  margin-left: 25%;
  margin-top: 2em;
  padding: 0.5em;
  background-color: gray;
  color: white;
  // color: #fcf6ce;
  padding: 16px;
}

// Section 3: List of All Contacts (left 25% of the page)

// search bar
.search-contacts-bar {
  height: 56px;
  background-color: #fbfbfb;
  border-top: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.search-bar-field {
  margin: 12px 36px;
  padding: 6px 8px;
  width: 240px;
}

// all-contacts heading
.all-contacts-header {
  height: 56px;
  background-color: #fbfbfb;
  border-top: 1px solid rgba(0,0,0,0.2);
  overflow: hidden;
  border-right: 1px solid rgba(0,0,0,0.2);
}

.all-contacts-heading {
  float:left;
  margin: 5% 5%;
  color: rgba(0,0,0,0.77);
}

.filter-icon {
  height: 24px;
  width: 24px;
  float:left;
  margin: 5% 10%;
}

.add-icon {
  height: 24px;
  width: 24px;
  float:left;
  margin: 5% 10%;
}
.contacts-container {
  width: 25%;
  float: left;
}
.contacts-messages {
  height:550px;
  overflow: scroll;
}

.contact-message {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 16px 16px;
  background-color: #fbfbfb;
  overflow: hidden;
}

.contact-name-link {
  color: rgba(0,0,0,0.87);
  text-decoration: none;
}

.contact-last-message {
  float: left;
  overflow: hidden;
  margin-left: 16px;
  margin-top: 10px;
}
.contact-profile-image {
  border-radius: 100%;
  background-color: #ccc;
  width: 56px;
  height: 56px;
  float: left;
}


.last-message-on {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: gray;
}

.messages {
  float: left;
  width: 66.666%;
  height: 600px;
  background-color: #bcbcbc;
  border: 1px solid rgba(0,0,0,0.2);
  overflow: hidden;
}
.contact-name-heading {
  height: 56px;
  width: 100%;
  background-color: #fbfbfb;
  border: 1px solid rgba(0,0,0,0.2);
}

#main-name {
  line-height: 56px;
  text-align: center;
}
.profiles {
  float: left;
  width: 33.333%;
  height: 600px;
  background-color: #eee;
  padding: 8px;
}


// contacts all page starts here

  // basic layout styling

.all-contacts-container {
  overflow: hidden;
}

.individual-contact-edit-area {
  width: 45%;
  height: 702px;
  background-color: #eee;
  float: left;
  display: inline-block;
  border: 1px solid rgba(0,0,0,0.2);
}

.all-contacts-list-area {
  width: 55%;
  height: 702px;
  background-color: #ccc;
  float: left;
  display: inline-block;
}

.all-contacts-title {
  text-align: center;
  font-size: 16px;
  padding: 0;
}


.all-contacts-list-area-top-div {
  background-color: #eee;
  width: 100%;
  height: 56px;
  padding-top: 24px;
    border-top: 1px solid rgba(0,0,0,0.2);
}
.contact-types-wrapper {
  background-color: #eee;
  width: 100%;
  height: 48px;
  overflow: hidden;
}

.contact-types-all {
  float: left;
  padding: 0 64px;
  line-height: 48px;
}
.contact-types-friends {
  float: left;
  padding: 0 64px;
  line-height: 48px;
}
.contact-types-family {
  float: left;
  padding: 0 64px;
  line-height: 48px;
}
.contact-types-business {
  float: left;
  padding: 0 64px;
  line-height: 48px;
}

.contacts-area {
  background-color: white;
  width: 100%;
  height: 600px;
  border-top: 1px solid rgba(0,0,0,0.2);
  overflow: scroll;
}

// contacts all page ends here


// individual contacts
.contact-page-contact {
  background-color: #eee;
  padding: 16px;
  width: 96%;
  height: 100px;
  border: 1px solid rgba(0,0,0,0.3);
  margin: 0 auto;
  margin-top: 8px;
  overflow: hidden;
}

.contact-page-contact-image {
  float: left;
  width: 64px;
  height: 64px;
  background-color: gray;
  border-radius: 100%;
  margin-left: 24px;
}

.contact-page-contact-information {
  float: left;
  font-size: 14px;
  margin-left: 24px;
  margin-top: 8px;
}

// indivudal contact

.individual-photo {
  margin: auto;
  margin-top: 36px;
  width: 144px;
  height: 144px;
  background-color: gray;
  border-radius: 100%;

}
.individual-contact-wrapper {
  height: 500px;
  width: 100%;
  padding: 48px;
}

.edit-contact-form {
  margin: 0 auto;
  margin-top: 36px;

}


.edit-contact-field {
  padding: 4px;
  width: 200px;
  margin: 20px 0;

}

.edit-contact-label {
  margin: 20px 8px;
}


// restyling for the newsfeed page

#message-content {
  width: 100%;
  margin: auto;
  height: 100px;
  background-color: #fff;
  border: 2px solid rgba(0,0,0,0.2)
}

.contact-info-updating-container {
  width: 75%;
  height: 700px;
  float: left;
  overflow: hidden;
}

.send-message-div {
  width: 50%;
  margin: auto;
  padding: 8px;
  background-color: white;
  border: 1px solid gray;
  bottom: 0;
  position: absolute;
}

#subject_field {
  width: 100%;
  height: 24px;

}

#body_field {
  width: 100%;
  height: 200px;
}
