.contact-image {
  border-radius: 50%;
  height: 75%;
}

.potential-contacts-container {
  width: 50%;
  display: block;
  margin: auto;
  height: 60vh;
  overflow: scroll;
}

.potential-contacts {
  background-color: lightgray;
  margin: 10px;
  padding: 5px;
  display: block;
}



.contact-image-div{
  width: 25%;
  display: inline-block;
}

.potential-contact-name {
  text-align: center;
}

.potential-contact-email {
  text-align: center;
}

#import_contact_button {
  text-decoration: none;
  background-color: $logocolor;
  display: block;
  color: #2B92FF;
  font-size: 14px;
  text-align: center;
  width: 96px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 27px;
  border: 1px solid #2B92FF;
}
#import_contact_button:hover {
  font-weight: bold;
  background-color: $mediumblue;
}


// toggle class selected

.selected {
  background-color: black;
  color: white;
}

.import-search-bar {
  width: 40%;
  text-align: center;
  padding: 5px;
}
