.contact-image {
  border-radius: 50%;
  height: 75%;
}

.potential-contacts-container {
  float: right;
  margin-right: 30%;
  margin-top: 40px;
}

.potential-contacts {
  background-color: lightgrey;
  margin-bottom: 15px;
}

.contact-image-div{
  width: 25%;
  display: inline-block;
}

.potential-contact-name {
  display: inline-block;
  // float: right;
  // margin-right: 30%;
}
