
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   src: local('Roboto'), local('Roboto-Light'), url(https://material.google.com/resources/roboto-noto-fonts.html);
//   src: url(https://material.google.com/resources/roboto-noto-fonts.html);
//   src: url('Roboto-Light.ttf') format('truetype');
// }

$color: #07DEFF;
// $color2: #170061;
// $color2: #019587;
// $color2: #240099;
$color4: #20c5b5;
$color3: #FFDD24;
// $color4: #00C7BD;
// $color5: #ccfffc;
// $color6: #fbfbfb;
$color6: #f2f2f2;
$color1: #775aa7;
$color7: #4b69c8;
$color2: #27c5ef;
$color8: #00a4ff;



* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}
// Section 1: the navigation bar

.nav-bar {
  width: 100%;
  height: 50px;
  background-color: #F2F6F7;
  // background-color: hsl(240, 20%, 95%);
  text-align: right;
}

.logo {
  float: left;
  margin-left: 2rem;
  font-size: 25px;
  line-height: 50px;
  font-style: 'Always In My Heart', cursive;
  text-decoration: none;
  color: $color2;

}

.nav-button {
  display: inline-block;
  margin-right: 1rem;
  margin-left: 1rem;
  text-decoration: none;
  font-size: 17px;
  line-height: 50px;
}

.nav-icon img {
  height: 25px;
  width: 23px;
  line-height: 50px;
  display: inline-block;
  margin-right: 1rem;
  margin-left: 1rem;
  padding-bottom: .4rem;
}

#nav-icon {
  height: 25px;
  width: 23px;
  line-height: 50px;
  display: inline-block;
  margin-right: 1rem;
  margin-left: 1rem;
  padding-bottom: .4rem;
}

.loginButton {
  text-decoration: none;
  display: inline-block;
  float: right;
  color: white;
  font-size: 17px;
  margin: 0 2rem;
  line-height: 50px;
}

.logoutButton {
  text-decoration: none;
  display: inline-block;
  float: right;
  color: white;
  margin-left: 1rem;
  margin-right: 2rem;
}

a.signup {
  text-decoration: none;
  background-color:white;
  border:1px solid #240099;
  display:inline-block;
  font-size:17px;
  line-height: 25px;
  font-weight: lighter;
  color: #240099;
  padding:1px 15px;
  margin-right: 1rem;
  margin-top: .7rem;
}

// Block 2: the photo background with text & sign up button

.photo-background {
  background-size: cover;
  border-bottom: 1px solid grey;
  text-align: center;
  padding: 120px 0;
  height: 90vh;
  position: relative;
  z-index: 2;
}

#photo-background {
  background-size: cover;
  background: white;
  width: 100%;
  position: absolute;
  z-index: 0;
  opacity: 0.8;
}
.photo-background-filter {
  height: 90vh;
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: black;
  opacity: 0.5;
}
.welcome-text {
  font-weight: lighter;
  margin-bottom: 30px;
  font-size: 55px;
  // color: $color;
  color: white;
}

.signupButton {
  background-color: $color4;
  border: 1px solid $color4;
  border-radius: 5%;
  display: inline-block;
  color: white;
  font-size: 20px;
  padding: 10px 15px;
  text-decoration: none;
}

// Section 3: the 3 main selling points of the app

#sellingPoints {
  position: relative;
  // margin-left: 5rem;
  // margin-right: 5rem;
  background-color: white;
  text-align: center;
  padding: 50px 0;
}

.selling-points {
  display: inline-block;
  text-align: center;
  width: 28%;
  margin: 2%;
  padding: 0 20px;
  color: #4A4A4A;
  font-size: 16px;

  .icon {
    margin-bottom: 10px;
    max-width: 150px;
    height: auto;
    width: 100%;
  }

  h3 {
    margin-bottom: 10px;
  }
}



// Section 4: the entire step by step process of how to use the app

// #stepbystep is the div which contains all of section 4
#stepbystep {
  width: 100%;
  padding-bottom: 3rem;
  background-color: hsl(240, 20%, 93%);
}

#stepbystepHeading {
  width: 100%;
  text-align: center;
  color: grey;
  font-size: 40px;
  padding-top: 3rem;
}

#step1 {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  position: relative;

}

#step1content {
  display: inline-block;
  height: 70px;
}

p.stepcontent {
  font-size: 25px;
  line-height: 70px;
  color: grey;
  margin-left: 10rem;
  // position: relative;



}

#circles1and3 {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  display: inline-block;
  background-color: white;
  text-align: center;
  color: $color;
  font-size: 20px;
  margin-left: 3rem;
}

p.center {
  line-height: 70px;
}

#step1and3icon {
  float: right;
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-right: 3rem;

}

#step2 {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  position: relative;
}

#step2content {
  display: inline-block;
  height: 70px;
}

#circles2and4 {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  display: inline-block;
  float: right;
  background-color: white;
  text-align: center;
  color: $color;
  font-size: 20px;
  margin-right: 3rem;

}

#step2and4icon {
  float: left;
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-left: 3rem;
  margin-right: 3rem;
}

#step3 {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  position: relative;
}

#step3content {
  display: inline-block;
  height: 70px;
}


#step4 {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  position: relative;
}

#step4content {
  display: inline-block;
  height: 70px;

}



// Section 5: the bottom of the landing page with a final sign up button

#landingBottom {
  width: 100%;
  background-color: white;
}

#textHeading {
  width: 100%;
  margin-top: 3rem;
  text-align: center;
  color: grey;
  font-size: 35px;
}

.signupButton2 {
  margin: 2rem;
  margin-right: 43%;
  margin-left: 43%;
  margin-bottom: 4rem;
  background-color: $color;
  border: 1px solid $color;
  border-radius: 5%;
  display: inline-block;
  color: white;
  font-size: 20px;
  padding: 10px 15px;
  text-decoration: none;
  // position: absolute;
  // z-index: 5;
}
