
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

$color: #07DEFF;
$color4: #20c5b5;
$color3: #FFDD24;
$color6: #f2f2f2;
$color1: #775aa7;
$color7: #4b69c8;
$color2: #27c5ef;
$color8: #00a4ff;
$offwhite: #F2F6F7;
$logocolor: #F0F1F3;
$brightblue: #00a4ff;
// $lightblue: #9bdbff;
$lightblue: #80d0ff;
$mediumblue: #27c5ef;
$purple: #775aa7;
$offblack: #323232;

$yellowbuttons:  hsl(48, 100%, 50%);
// $allcontactscolor: #1296f1;
$allcontactscolor: rgba(18, 150, 241, .7);

$yellowbuttons:  hsl(48, 100%, 45%);



* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Avenir Next', sans-serif;
  font-weight: lighter;
}
// Section 1: the navigation bar

.nav-bar {
  width: 100%;
  height: 56px;
  background-color: #2B92FF;
  height: 56px;
  text-align: right;
  position: relative;
  z-index: 10;
}

.logo {
  float: left;
  margin-left: 2rem;
  font-size: 25px;
  line-height: 56px;
  font-family: 'Lobster', sans-serif;
  text-decoration: none;
  color: $color2;
  color: $logocolor;
}

.nav-button {
  display: inline-block;
  margin-right: 1rem;
  margin-left: 1rem;
  text-decoration: none;
  font-size: 17px;
  line-height: 56px;
}

.nav-icon {
  height: 24px;
  width: 24px;
  line-height: 64px;
  display: inline-block;
  margin-right: 1rem;
  margin-left: 1rem;
}

.sign-up-modal, .login-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.7);
  z-index: 2;
}

.sign-up-form, .login-form{
  display: block;
  width: 450px;
  height: 500px;
  padding: 30px;
  background-color: rgba(256, 256, 256, 0.87);
  position: absolute;
  margin: auto;
  margin-top: 80px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 1%;
}

input.field {
  width: 100%;
}

.login-form {
  height: 300px;
  margin-top: 200px;
}

.login-field {
  width: 100%;
  height: 33.98px;
  margin: 5px 0;
}

.signup-modal-field {
  width: 100%;
  height: 33.98px;
  margin: 5px 0;
}
.sign-up-heading {
  text-align: center;
  color: gray;
}

#modal-submit-create, #modal-submit-login {
  width: 94%;
  font-weight: lighter;
  background-color: $yellowbuttons;
}
.nav-icon > img{
  height: 25px;
  width: 25px;
  line-height: 64px;
  display: inline-block;
  margin-right: 1rem;
  margin-left: 1rem;
    // padding-bottom: .4rem;
}

a.logo:hover {
  color: $mediumblue;
}

a.loginButton:hover,
a.getstarted:hover,
a.logoutButton:hover,
a.signup:hover
 {
  font-weight: bold;
}
a.signup {
  text-decoration: none;
  background-color: transparent;
  border:2px solid $logocolor;
  display:inline-block;
  font-size:14px;
  line-height: 25px;
  color: $logocolor;
  margin-top: .7rem;
  width: 96px;
  text-align: center;
}

a.loginButton {
  text-decoration: none;
  background-color: $logocolor;
  display: inline-block;
  float: right;
  color: #2B92FF;
  font-size: 14px;
  text-align: center;
  width: 96px;
  margin: .7rem 2rem;
  line-height: 27px;
}

a.logoutButton {
  text-decoration: none;
  background-color: $logocolor;
  display: inline-block;
  float: right;
  color: #2B92FF;
  font-size: 14px;
  text-align: center;
  width: 96px;
  margin: .7rem 2rem;
  line-height: 27px;
}

a.getstarted {
  text-decoration: none;
  background-color: $yellowbuttons;
  display: inline-block;
  color: $offwhite;
  font-size: 14px;
  text-align: center;
  width: 12rem;
  margin: auto;
  line-height: 36px;
  position: static;
  z-index: 10000;

}

a.getstarted:hover {
  font-weight: bold;

}

// Block 2: the photo background with text & sign up button

.photo-background {
  background-size: cover;
  text-align: center;
  padding: 120px 0;
  height: 90vh;
  z-index: 2;
}
.photo-background-image {
  height: 100vh;
  padding-top: 100px;
  top: 0px;
  width: 100%;
  // position: absolute;
  background-image: image-url('background-hero.svg');
  // background-attachment: fixed;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // z-index: -100;
}
.welcome-text{
  margin-bottom: 2rem;
}

#main-heading {
  font-size: 3rem;
  color: $offwhite;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin: 2rem 0;
}

#second-heading {
  font-size: 1.5rem;
  color: $offwhite;
  font-family: 'Roboto', sans-serif;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  line-height: 2.5rem;
}

.signupButton {
  background-color: $color4;
  border: 1px solid $color4;
  border-radius: 5%;
  display: inline-block;
  color: white;
  font-size: 20px;
  padding: 10px 15px;
  text-decoration: none;
}

// Section 3: the 3 main selling points of the app

#sellingPoints {
  position: relative;
  // margin-left: 5rem;
  // margin-right: 5rem;
  background-color: white;
  text-align: center;
  padding: 50px 0;
  margin-top: 100vh;
}

.selling-points {
  display: inline-block;
  text-align: center;
  width: 28%;
  margin: 2%;
  padding: 3rem 36px;
  color: #4A4A4A;
  font-size: 16px;

  .icon {
    margin-bottom: 16px;
    max-width: 120px;
    height: auto;
    width: 100%;
  }

  h3 {
    margin-bottom: 10px;
  }
}

// Section 4: the entire step by step process of how to use the app

// #stepbystep is the div which contains all of section 4
#stepbystep {
  width: 100%;
  padding-bottom: 3rem;
  background-color: hsl(240, 20%, 93%);
  position: relative;
  z-index: 10;
}

#step-contents-div {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}
#stepbystepHeading {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  padding: 3rem 0;
}

.left-div {
  width: 50%;
  height: 250px;
  float: left;
  padding: 2rem;
  margin-bottom: 2rem;
}

.right-div {
  width: 50%;
  padding: 2rem;
  height: 250px;
  float: right;
  margin-bottom: 2rem;
}

.number-div {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  margin: 0 auto;
}

.text-div {
  background-color: $offwhite;
  opacity: 0.8;
  width: 100%;
  height: auto;
  padding: 2rem;
  border-radius: 8px;
}
.number {
  font-size: 1.5rem;
  line-height: 3rem;
  text-align: center;
  color: $offwhite;
}

.step-text {
  font-size: 1.1rem;
  color: rgba(0,0,0,0.54);
  line-height: 1.8rem;
  text-align: center;
}
.step-text-div {
  margin: auto;
  margin-top: 1rem;
  padding: 0 2rem;
}

.step-icon-div {
  width: 10rem;
  height: auto;
  margin: auto;
}

#first-number {
  background-color: $mediumblue;
}
#second-number {
  background-color: $mediumblue;
}
#third-number {
  background-color: $mediumblue;
}
#fourth-number {
  background-color: $mediumblue;
}

#add-user-icon {
  width: 100%;
  margin: auto;
  display: inline-block;
}
// Section 5: the bottom of the landing page with a final sign up button

#landingBottom {
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 30px;
}

#textHeading {
  width: 100%;
  margin-top: 3rem;
  text-align: center;
  color: gray;
  font-size: 2.4rem;
}

#bottom-button {
  margin: 2rem 0;
  text-align: center;
}

// FOOTER
.footer {
  background-color: $offblack;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.left-list {
  display: inline-block;
  margin: 2em 5em;
  list-style: none;
}

.logo-footer {
  display: inline-block;
  margin: 80px 6% 0 0;
  float: right;
}


.logo-footer-text {
  font-size: 4em;
  font-family: 'Lobster', sans-serif;
  color: gray;
}

.middle-list {
  display: inline-block;
  list-style: none;
  margin: 0 16px;
}
.bottom-footer-list {
  overflow: hidden;
  margin: 0 5%;
}
.bottom-list-link {
  display: inline-block;
  color: gray;
  margin: 16px 36px;
}
.left-list-link {
  color: rgba(256,256,256,0.9);
}
.middle-list-link {
  color: gray;
}
#bottom-list-right {
  float: right;
}
.divider {
  width: 90%;
  margin: 0 auto;
  height: 2px;
  background-color: $offwhite;
  opacity: 0.7;
}

.sign-up-heading-error {
  text-align: center;
  margin: 2px;
}

.login-heading-error {
  text-align: center;
  margin: 2px;
}

#password {
  display: inline-block;
  padding: 7px;
  width: 100%;
  font-size: 12px;
}
