// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message_date {
  text-align: right;
  float: right;
  font-weight: 700;
  opacity: 0.7;
  padding-right: 10px;
  width: 50%;
}

.message_expand {
  text-align: right;
  float: right;
  font-weight: 700;
  opacity: 0.7;
  padding-right: 10px;
  width: 100%;
}

.message_from_contact {
  text-align: left;
  float: left;
  font-weight: 700;
  opacity: 0.7;
  padding-right: 10px;
  width: 50%;
}

.individual_message {
  padding-top:5px;
  padding-bottom:20px;
}
