// Edit contact modal

.edit-modal {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.7);
  z-index: 2;
}

.add-contact {
  top: 36px;
}
