// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.individual_message {

}
.individual_message_outer_div {
  width: 100vw;
  height: 100vh;
  color: gray;
  position: fixed;
  z-index: 1000;
  display: none;
}

.individual_message_div {
  position: absolute;
  border: 1px solid black;
  background-color: white;
  margin: auto;
}
