// Place all the styles related to the reminders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.reminder-background {
  width: 100%;
  height: 110vh;
  top: -10vh;
  background-image: image-url('background-light-medium-blue.svg');
  background-attachment: fixed;
  position: fixed;
  z-index: -10;
}
.reminderbox {
  display: block;
  width: 50%;
  height: 15vh;
  // border: 2px solid rgba(0,0,0,0.3);
  margin-left: 25%;
  margin-top: 5vh;
  border-radius: 8px;
  text-align: center;
  list-style: none;
  background-color: $offwhite;
}

.remindertitle {
  text-align :center;
  margin-top: 20px;
  color: $offblack;
}

#overdue {
  background-color: red;
  height: 30px;
  width: 30px;
  position: absolute;
  border-radius: 50%;
  margin-top: 5vh;
  margin-left: 5%;
}

#upcoming {
  background-color: $yellowbuttons;
  height: 30px;
  width: 30px;
  position: absolute;
  border-radius: 50%;
  margin-top: 5vh;
  margin-left: 5%;
}

#xoverdue {
  background-color: red;
}

#xupcoming {
  background-color: $yellowbuttons;
}

.reminderbox_newsfeed {
  display: block;
  margin: 16px;
  width: 92%;
  height: auto;
  border: 1px solid lightgray;
  text-align: center;
  list-style: none;
  border-radius: 8px;
}

#newsfeed_reminders {
  margin-top: 20vh;
}
div.selected_platform {
  color: red;
}
