// Place all the styles related to the reminders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.reminder-background {
  width: 100%;
  height: 92vh;
  padding-top: 16px;
  background-image: url('background-light-medium-blue.svg');
}
.reminderbox {
  display: block;
  width: 50%;
  height: 15vh;
  border: 2px solid black;
  margin-left: 25%;
  margin-top: 5vh;
  text-align: center;
  list-style: none;

}

.remindertitle {
  text-align :center;
  margin-top: 20px;
}

#overdue {
  background-color: red;
}

#upcoming {
  background-color: yellow;
}
