// recently added aug 5

* {
  font-family: 'Avenir', sans-serif;
}
$newoffwhite: #F0F1F3;

select {
  width: 200px;
  border: 1px solid rgba(0,0,0,0.1);
  background-color: white;
  height: 36px;
  margin: 0 auto;
}

.not-link {
  text-decoration: none;
  color: gray;
}
#ghost-update-button {
  border: 1px solid #2B92FF;
  border-radius: 2px;
  color: white;
  background-color: #2B92FF;
  font-weight: normal;
  height: auto;
  padding: 3px 8px;
  margin-top: 15px;
}

#ghost-update-button:hover {
  color: #2B92FF;
  background-color: white;
}

#autoreply_settings_form > #ghost-update-button {
  margin-bottom: 30px;
}

.edit-link {
  color: #2B92FF;
}

.edit-link:hover {
  font-weight: bold;
}
.margin-24-heading  {
  margin: 20px 20px;
  //changed from 24px to 20px & 36 to 8px
}

select.select-settings {
  font-size: 16px;
}
.seventeen-font {
  font-size: 17px;
}

.fifteen-font {
  font-size: 15px;
}

.sixteen-font {
  font-size: 16px;
}
.eighteen-font {
  font-size: 18px;
}
.fourteen-font {
  font-size: 14px;
}

.twenty-font {
  font-size: 20px;
}

.text-block {
  margin-left: 36px;
  margin-top: -10px;
  color: white;
}

.white {
  color: white;
}
.text-block > h4.seventeen-font {
  color: white;
}

.user-information > h4.eighteen-font {
  color: white;
}

.divider-user-page {
  height: 1px;
  width: 90%;
  margin: 30px auto;
  background-color: white;
}



// .user-information {
//   padding-top: 16px;
//   padding-bottom: 16px;
//   // background-color: $newoffwhite;
//   background-color: $lightblue;
//   // background-color: grey;
//   // height: 92vh;
//   height: 604px;
// }

.account-heading {
  display: inline-block;
  color: white;
  font-size: 24px;
  margin-top: -3px;
  margin-left: 30%;
}

.edit-user {
  display: inline-block;
}

textarea#automatic_message_text {
  width: 87%;
  height: 150px;
  margin-top: 20px;
  -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
  -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
  box-shadow: inset 2px 2px 2px 0px #dddddd;
  border: 1px solid #ccc;
}

textarea#autoreply_message {
  width: 87%;
  height: 150px;
  margin-top: 20px;
  -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
  -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
  box-shadow: inset 2px 2px 2px 0px #dddddd;
  border: 1px solid #ccc;
}

// contacts
.divider-contacts {
  height: 2px;
  width: 96%;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.05);
}
.filter-contacts-drop-down-div {
  display: inline-block;
  margin: 16px 0px 0px 8px;
}

.filter-contacts-drop-down-div > select {
  width: 25%;
  color: grey;
}

.search-contacts-bar-div {
  display: inline-block;
  margin: 0px 36px 16px 0px;
}

.all-contacts-scroll-div {
  overflow: scroll;
  height: 90vh;
}

.all-contacts-heading {
  display: inline-block;
  color: $lightblue;
  font-size: 24px;
  margin: 20px 8px;
}

.add-contact-button {
  display: inline-block;
  margin: 16px 16px 0 36px;
  padding: 8px 16px;
  float: right;
  border: 1px solid #2B92FF;

  border-radius: 2px;
}

.add-contact-button:hover {
  border: 2px solid #2B92FF;
}


.add-contact-icon {
  margin-right: 16px;
  height: auto;
  display: inline-block;
}

.add-contact-link {
  display: inline-block;
}

.search-contacts-user-page {
  width: 200%;
  margin: 0 8px;
  border-radius: 2px;
  height: 36px;
  border:1px solid rgba(0,0,0,0.1);
  text-align: center;
  font-size: 12px;
}

// contact cards

.contact-cards-user-page {
  padding: 16px;
  overflow: hidden;
  margin: 0 16px 0 8px;
  background-color: $offwhite;
  border-bottom: 6px solid white;
  // border-bottom: 4px solid rgba(0,0,0,0.07);

}

.contact-card-information {
  display: inline-block;
  float: left;
  margin: 30px 18px;
}

.contact-card-information > p {
  color: white;
}


.contact-profile-picture0 {
  width: 115px;
  height: 104px;
  // background-color: $offwhite;
  background-image: image-url('lion.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  margin: 16px;
  margin-left: 25px;
}
.contact-profile-picture1 {
  width: 115px;
  height: 104px;
  // background-color: $offwhite;
  background-image: image-url('giraffe.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  margin: 16px;
  margin-left: 25px;
}

.contact-profile-picture2 {
  width: 115px;
  height: 104px;
  // background-color: $offwhite;
  background-image: image-url('penguin.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  margin: 16px;
  margin-left: 25px;
}
.contact-profile-picture3 {
  width: 115px;
  height: 104px;
  // background-color: $offwhite;
  background-image: image-url('tiger.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  margin: 16px;
  margin-left: 25px;
}



//edit page
.user-information-edit {
  height: auto;
  padding-bottom: 36px;
  height: 105vh;
}

.all-contacts-div-user-page-edit {
  height: 100vh;
}

.all-contacts-scroll-div-edit {
  height: 90vh;
}


.user-information {
  display: inline-block;
  float: left;
  width: 40%;
  height: 115vh;
  padding: 24px 16px 0 16px;
  background-color: $lightblue;
}

.all-contacts-div-user-page {
  display: inline-block;
  float: right;
  width: 60%;
  height: 604px;
  padding: 0 16px;
  background-color: white;
}
