// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// edit user information form
.updateInfo {
    display: block;
    width: 450px;
    height: 450px;
    padding: 30px;
    background-color: rgba(256, 256, 256, 0.87);
    position: absolute;
    margin: auto;
    margin-top: 8%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 1%;
}

// edit user text
.edit-user-heading {
  color: grey;
  margin: auto 30px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
}
// edit user form fields
.field {
    display: inline-block;
    border: none;
    outline: none;
    padding: 7px;
    width: 81.7%;
    color: #555;
    font-size: 12px;
    margin: 10px 0;
}

.phoneField {
    display: inline-block;
    border: none;
    outline: none;
    padding: 8px;
    width: 15%;
    margin: 20px 3px;
    margin-left: 5.5px;
    color: #555 ;
}

.phoneField2 {
    display: inline-block;
    border: none;
    outline: none;
    padding: 8px;
    width: 15%;
    margin: 20px 0;
    color: #555 ;
}

.lastPhoneField {
    display: inline-block;
    border: none;
    outline: none;
    padding: 8px;
    width: 43%;
    margin: 20px 0;
    color: #555 ;
}

.twitterfield {
  display: inline-block;
  border: none;
  outline: none;
  padding: 8px;
  width: 80.9%;
  margin: 20px 0;
  margin-left: 5.5px;
  color: #555 ;
}

.efield {
  display: inline-block;
  border: none;
  outline: none;
  padding: 8px;
  width: 81%;
  margin: 20px 0;
  margin-left: 12px;
  color: #555;
}

// close button of modal
.close {
    background-color: #e8e8e8;
    display: block;
    border: none;
    outline: none;
    font-size: 36px;
    font-weight: lighter;
    width: 1em;
    height: 1em;
    color: gray;
    line-height: 0;
    position: absolute;
    top: 0.25em;
    right: 0.25em;
}

// submit updates button modal
input.modal-submit {
  font-size: 14px;
  display: block;
  border: none;
  outline: none;
  width: 100%;
  line-height: 2px;
  background-color: hsl(48, 100%, 45%);
  color: white;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
}
