// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

//edit user information modal (dark overlay on top)
.modal2 {
  display: none;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.7);
}

// edit user information form
.updateInfo {
    display: block;
    width: 450px;
    height: 450px;
    padding: 2.5em;
    background-color: rgba(256, 256, 256, 0.87);
    position: absolute;
    margin: auto;
    margin-top: 50px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 1%;
}

// edit user text
.edit-user-heading {
  color: grey;
  margin: 0 2.7em;
  margin-bottom: 0.8em;
  display: inline-block;
}
// edit user form fields
.field {
    display: inline-block;
    border: none;
    outline: none;
    padding: 0.5em;
    width: 81.7%;
    margin: 1.5em 0;
    margin-left: .5em;
    color: #555;
    font-size: 12px;
}

.lastPhoneField {
    display: inline-block;
    border: none;
    outline: none;
    padding: 0.5em;
    width: 42%;
    margin: 0.8em 0;
    color: #555 ;
}

.twitterfield {
  display: inline-block;
  border: none;
  outline: none;
  padding: 0.5em;
  width: 80.9%;
  margin: 1.5em 0;
  margin-left: .1em;
  color: #555 ;
}

.efield {
  display: inline-block;
  border: none;
  outline: none;
  padding: 0.5em;
  width: 81%;
  margin: 1.5em 0;
  margin-left: 1em;
  color: #555;
}

// close button of modal
.close {
    background-color: #e8e8e8;
    display: block;
    border: none;
    outline: none;
    font-size: 36px;
    font-weight: lighter;
    width: 1em;
    height: 1em;
    color: gray;
    line-height: 0;
    position: absolute;
    top: 0.25em;
    right: 0.25em;
}

// submit updates button modal
.submit {
  font-size: 14px;
  display: block;
  border: none;
  outline: none;
  width: 100%;
  background-color: gray;
  color: white;
  // color: #fcf6ce;
  padding: 16px;
  margin: auto;
  margin-top: 2rem;
}
